<link rel="stylesheet" href="{{ "vendor/katex/katex.min.css" | relURL }}">
<script defer src="{{ "vendor/katex/katex.min.js" | relURL }}"></script>
<script defer src="{{ "vendor/katex/auto-render.min.js" | relURL }}"></script>

{{- if .Page.Store.Get "hasGpuGraph" }}
<script src="{{ "vendor/vis-network.min.js" | relURL }}"></script>
<script src="{{ "js/gpu-graph.js" | relURL }}"></script>
{{- end }}

{{- if .Page.Store.Get "hasMermaid" }}
<script src="{{ "vendor/mermaid.min.js" | relURL }}"></script>
<script src="{{ "js/mermaid-init.js" | relURL }}?v=21"></script>
{{- end }}
